<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DataFeedExamples.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><applicationSettings>
        <DataFeedExamples.Settings1>
            <setting name="server" serializeAs="String">
                <value>ttdemo.fxopen.com</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>59932</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>8mEx7zZ2</value>
            </setting>
            <setting name="OutputInterval" serializeAs="String">
                <value>30</value>
            </setting>
        </DataFeedExamples.Settings1>
    </applicationSettings>
</configuration>
