<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradePerformance.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDKTrade.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <TradePerformance.Config>
            <setting name="Server" serializeAs="String">
                <value>tp.dev.soft-fx.eu</value>
            </setting>
            <setting name="Accounts" serializeAs="String">
                <value>999900</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123qwe</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value>EURUSD,USDJPY</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DTFormat" serializeAs="String">
                <value>yyyMMdd-hh:mm:ss.fff</value>
            </setting>
            <setting name="OrdersPersist" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OrdersPerSec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopAfterTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RunSilent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultFile" serializeAs="String">
                <value>results.txt</value>
            </setting>
            <setting name="TestsCount" serializeAs="String">
                <value>1</value>
            </setting>
        </TradePerformance.Config>
        <FDKTrade.Config>
            <setting name="Server" serializeAs="String">
                <value>tp.dev.soft-fx.eu</value>
            </setting>
            <setting name="Accounts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>999900</string>
                        <string>999901</string>
                        <string>999902</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123qwe</value>
            </setting>
            <setting name="Symbols" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>EURUSD</string>
                        <string>USDJPY</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DTFormat" serializeAs="String">
                <value>yyyMMdd-hh:mm:ss.fff</value>
            </setting>
            <setting name="OrdersPersist" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OrdersPerSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StopAfterTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RunSilent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultFile" serializeAs="String">
                <value>results.txt</value>
            </setting>
        </FDKTrade.Config>
    </userSettings>
</configuration>
